.top-left-player, .bottom-left-player {
    position: absolute;
    left: 3%; /* Center align horizontally within the container */
    font-size: 0.9em;
    color: #EEEEEE;
}

.top-left-player {
    top: 10px; /* Adjust as needed for spacing */
}

.bottom-left-player {
    bottom: 10px;
}
